*{box-sizing: border-box; /* Para que el padding y el borde se incluyan en el ancho y alto total del elemento */
}

body {
    margin: 0;
}

/* Alinear el título a la izquierda y el div a la derecha */
.cabecera {
display: flex;
justify-content: space-between; /* Espacio entre elementos */
align-items: center; /* Alinear verticalmente */
padding: 10px; /* Espaciado interno */
}

.cabecera a {
    text-decoration: none; /* Quitar subrayado */
    color: #000000; /* Mantener el color del texto */
}

.title {
    font-family: 'Cinzel', serif;
    font-weight: 700; /* Grosor de la letra */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformar a mayúsculas */
}

/* Colocar las etiquetas <a> en línea y con un margen a la derecha */
.menucabecera {
    display: flex;
    gap: 15px; /* Espacio entre enlaces */
}

/*Quitar el subrallado y dar formato a la cabecera derecha*/
.menucabecera a {
    text-decoration: none; /* Quitar subrayado */
    color: #333; /* Color del texto negro */
    font-family: 'Cinzel', serif; /* Fuente misma que Pixar */
    font-weight: bold; /* Grosor de la letra o ponerla en negrita */

}

/*Formato individual o no para cada imagen*/
.cajaportada {
    width: 100%; /*Para ocupar todo el ancho de la pantalla */
}

.cajaportada img {
    width: 100%;
    height: auto;
    display: block;
}

/*Contenedo principal para las imagenes de las películas*/
.cajapeliculas1 {
    display: flex; /*Para que las cajas individuales se puedan colocar en filas*/
    justify-content: center; /*Para que todo quede centrado*/
    gap: 20px; /*Distancia entre cajas*/
    padding: 20px; /*Espacio interno*/
}

.cajapeliculas1 img {
    width: 100%; /*Ancho que ocupará (todo el disponible) */
    max-width: 233px; /*Máximo 233 px de ancho, pero si la caja se hace más pequeña, podrá encogerse */
    height: auto;
    border-radius: 20px; /*Para redondear los bordes de las imagenes*/
}

/* La 2a caja de películas (general) para ordenar las cajas una debajo de la otra*/
.cajapeliculas2 {
    display: flex;
    flex-direction: column; /* Para que las cajas se coloquen una debajo de la otra */
    justify-content: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
}

/* Caja contenedora de las 2 imagenes horizontales de la 2a caja de películas */
.horizontales1 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
}

/*Formato individual de las 2 imagenes horizontales de la 2a caja de películas */
.horizontales1 img {
    width: 100%;
    height: auto; /* Altura fija para las imágenes horizontales */
    max-height: 400px;  
    display: block;
    border-radius: 20px; /* Para redondear los bordes de las imágenes */
}

.cuartetoimagenes {
    display: flex;
    justify-content: center; /* Centrar las imágenes horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%;
}

.cuartetoimagenes img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    max-height: 200px; 
    border-radius: 20px; 
}

.trioimagenes {
    display: flex;
    justify-content: center; /* Centrar las imágenes horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%;
}

.trioimagenes img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    max-height: 500px; 
    border-radius: 20px; 
}

.trioimagenes a {
    width: 100%;
    max-width: 500px;
    display: block; /* Para que el enlace ocupe todo el ancho de la imagen */
}

.horizontales2 {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
}

.horizontales2 img {
    width: 100%;
    height: auto; 
    max-height: 250px;  
    display: block;
    border-radius: 20px; 
}

/* General para la imagen de portada de la página de cada película */
.CajaPortadasPelis img {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
}

/* Formato de la página de Hoppers */
.pagina-hoppers {
    background-color: #000000;
    color: aliceblue;
}

.pagina-hoppers .cabecera {
    background-color: #000000;
}

.pagina-hoppers .cabecera .title, .pagina-hoppers .cabecera a {
    color:aliceblue;
}

.CajaPortadasPelis {
    width: 100%; /* Para que ocupe todo el ancho de la pantalla */
}

/* Contenedor principal donde estarán los otros dos contenedores (columna imágenes y columan texto) */
.cuerpohoppers {
    display: flex;
    gap: 40px;
    padding: 30px;
    align-items: flex-start;
    width: 100%; 
}

/* Columna/Contenedor donde estarán las imagenes */
.columnaimageneshoppers {
    display: flex;
    flex-direction:column;
    gap: 19px;
    width: 35%;
}   
.columnaimageneshoppers img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 12px;
}

/* Columna/Contenedor donde estará el resumen de la película */
.columnatextohoppers {
    width: 65%;
    flex: 1;
    text-align: center;
}
.columnatextohoppers h2 {
    font-family: 'Cinzel', serif;
    font-weight: 600; /* Grosor de la letra */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformar a mayúsculas */
    margin-top: 0; /* Elimina el margen superior para alinearse con la imagen de la columna izquierda */
    color:darkgoldenrod;
}

.columnatextohoppers p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif
}

.cuerpopersonajes {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
}

.fotopersonajes {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.fotopersonajes img {
    max-height: 300px;
    width: 100%;
    display: block;
}

/* Caja general del personaje King George */
.kingGeorge {
    display: flex;
    gap: 40px;
    padding: 30px;
    align-items: flex-start;
    width: 100%; 
    background-color: #bab3aa;
}

.imagenKingGeorge {
    display: flex;
    flex-direction:column;
    gap: 19px;
    width: 40%;
    align-items: center;
}
.imagenKingGeorge img {
    width: 50%;
    height: auto;
    max-height: 200px;
    border-radius: 100px;
}
.imagenKingGeorge h2 {
    font-family: 'Cinzel', serif;
    font-weight: 700; /* Grosor de la letra */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-transform: uppercase; /* Transformar a mayúsculas */
    margin-top: 0; /* Elimina el margen superior para alinearse con la imagen de la columna izquierda */
    color:#ffffff;
}

.textoKingGeorge {
    width: 50%;
    display: flex;         
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}
.textoKingGeorge p {        
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%; 
    margin: 0;
}